{
	"ued": "C:\\epic\\UE_5.4\\Engine\\Binaries\\Win64\\UnrealEditor.exe",
	"project": "C:/project/RACode53/RACode.uproject",
	"map": "/Game/main",
	"outputdir": "E:\\temp\\0f\\New folder",
	"video": true,
	"maxslice": 30,
	"startframe": 1,
	"endframe": 5,
	"step": 2,
	"projector": 0,
	"clearImg": false,
	"jpg": true,
	"png": true,
	"tiff": false,
	"pathtracer": true,
	"autoStitch": false,
	"data":
	{
		"name": "stereo240",
		"stereo": true,
		"fov": 6,
		"horizontalStep": [ 48, 72, 72, 48 ],
		"horizontalPitch": [ 67.5, 22.5, -22.5, -67.5 ],
		"basewidth": 10,
		"baseheight": 80,
		"width": 70,
		"height": 560,
		"outwidth": 4096,
		"outheight": 2048,
		"total": 240
	}
}