{
	"ued": "C:\\epic\\UE_5.1\\Engine\\Binaries\\Win64\\UnrealEditor.exe",
	"project": "C:/project/TestRender2/TestRender2.uproject",
	"map": "/Game/Map/Demo_2br_UA",
	"video": false,
	"maxslice": 30,
	"startframe": 5,
	"endframe": 4,
	"step": 2,
	"projector": 0,
	"clearImg": true,
	"jpg": false,
	"png": false,
	"tiff": false,
	"data":
	{
		"name": "mono26",
		"stereo": false,
		"fov": 90,
		"horizontalStep": [ 1, 8, 8, 8, 1 ],
		"horizontalPitch": [ 90, 45, 0, -45, -90 ],
		"basewidth": 20,
		"baseheight": 20,
		"width": 1320,
		"height": 1320,
		"outwidth": 4096,
		"outheight": 2048,
		"total": 26
	}
}